<% include ../partials/header %>
<div class="container contact-form">
  <!-- Page Content goes here -->
  <div class="row">
    <form class="col s12" action="https://formspree.io/f/xnqwjrvy" method="post">
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Name" id="first_name" type="text" class="validate" name="name">
          <label for="first_name">Your Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" name="email">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="phone" type="text" class="validate" name="phone">
          <label for="phone">Your Phone</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="message" class="materialize-textarea" name="message"></textarea>
          <label for="message">Message</label>
        </div>
      </div>
      <input type="submit" class="waves-effect waves-light btn" value="Submit"/>
    </form>
  </div>
</div>
<% include ../partials/footer %>