<!-- WEN HAO FENG 301223017 -->  
  </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/javascripts/timeline.js"></script>
    <script src="/javascripts/typed.js"></script>
    <script src="/javascripts/navbar.js"></script>
</html>
