<!-- WEN HAO FENG 301223017 -->
<!DOCTYPE html>
<html>

<head>
    <title>Wenhao FENG</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel='stylesheet' href='/stylesheets/timeline.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/skills.css">
    <link rel="stylesheet" href="/stylesheets/contact.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="shortcut icon" href="#" />

</head>

<body class="body-color">
    <div class="menu-bar-mobile">
        <div class="grey darken-4 drawer">
            <ul id="slide-out" class="sidenav grey darken-4">
                <li><a href="/">Home</a></li>
                <%    if(!currentUser) { %>
                <li><a id="signin" href="/user/login">Sign In</a></li>
                <%    } else { %>
                <li><a>Sign in as <%= currentUser.username %></a></li>
                <li><a href="/logout">Logout</a></li>
                <%     } %>
                <li><a href="/projects">Project</a></li>
                <li><a href="/about">About me</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
            <a id="nav-toggle" href="#" data-target="slide-out" class="sidenav-trigger"><i
                    class="material-icons">menu</i></a>
        </div>
    </div>
    <nav class="menu-bar-non-mobile">
        <div class="nav-wrapper grey darken-4">
            <ul id="nav-mobile" class="right">
                <li><a href="/">Home</a></li>
                <%    if(!currentUser) { %>
                <li><a id="signin" href="/user/login">Sign In</a></li>
                <%    } else { %>
                <li><a>Sign in as <%= currentUser.username %></a></li>
                <li><a href="/user/logout">Logout</a></li>
                <%     } %>
                <li><a href="/projects">Project</a></li>
                <li><a href="/about">About me</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </nav>
    <!-- <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
               <a href="#!" class="brand-logo">Logo</a>
               <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
               <ul class="right hide-on-med-and-down">
                  <li><a href="sass.html">Sass</a></li>
                  <li><a href="badges.html">Components</a></li>
                  <li><a href="collapsible.html">Javascript</a></li>
                  <li><a href="mobile.html">Mobile</a></li>
              </ul>
           </div>
        </nav>
     </div>
     <ul class="side-nav" id="mobile-demo">
          <li><a href="sass.html">Sass</a></li>
          <li><a href="badges.html">Components</a></li>
          <li><a href="collapsible.html">Javascript</a></li>
          <li><a href="mobile.html">Mobile</a></li>
    </ul> -->
    <div class="container">
        <% if(error && error.length > 0) { %>
        <div class="alert card red white-text">
            <div class="card-content">
                <p><i class="material-icons">report</i><span><%=error%></span></p>
            </div>
        </div>
        <% } %>
        <% if(success && success.length > 0) { %>
        <div class="alert card green white-text">
            <div class="card-content">
                <p><i class="material-icons">report</i><span><%=success%></span></p>
            </div>
        </div>
        <% } %>
    </div>
    <script>
        var alertDiv = document.querySelector(".alert");
        if (alertDiv) {
            setTimeout(function () {
                alertDiv.style.display = 'none';
            }, 2000);
        }
    </script>