<% include ../partials/header %>
<div class="container">
  <!-- Page Content goes here -->
  <div class="row">
    <div class="col m2"></div>
    <div class="col s12 m8">
      <div class="card-container">
        <img class="profile-card-img" src="/images/profile_pic.jpg">
        <div class="profile-card-cnt">
          <div class="profile-card-name">
            <p>Wenhao FENG</p>
          </div>
          <div class="profile-card-loc">
            <span class="profile-card-loc__icon">
              <i class="material-icons">location_on
              </i>
            </span>
            <span class="profile-card-loc__txt">
              Ontario,Canada
            </span>
            <span class="profile-card-loc__icon card-email">
              <i class="material-icons">email</i>
            </span>
            <span class="profile-card-loc__txt">
              evanfungv@gmail.com
            </span>
          </div>

          <div class="profile-card-text">
            <p>Hi, I’m Evan. I am a full-stack software engineer with main focus in Java development, especially with
              Spring & Spring boot.
            </p>
          </div>

          <div class="profile-card-skills">
            <a class="waves-effect waves-light btn-small skill-item pulse">React</a>
            <a class="waves-effect waves-light btn-small skill-item">React Native</a>
            <a class="waves-effect waves-light btn-small skill-item">SQL</a>
            <a class="waves-effect waves-light btn-small skill-item pulse">Spring boot</a>
            <a class="waves-effect waves-light btn-small skill-item pulse">Spring cloud</a>
            <a class="waves-effect waves-light btn-small skill-item">Nodejs</a>
            <a class="waves-effect waves-light btn-small skill-item">MongoDB</a>
            <a class="waves-effect waves-light btn-small skill-item">Express.js</a>
            <a class="waves-effect waves-light btn-small skill-item">ES6</a>
            <a class="waves-effect waves-light btn-small skill-item pulse">Java</a>
          </div>

          <!-- social -->
          <div class="profile-card-social">
            <a href="#" class="profile-card-social__item" target="_blank" data-hover="resume">
              <i class="fas fa-file"></i>
            </a>
            <a href="https://www.facebook.com/evanfungv/" class="profile-card-social__item" target="_blank">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="https://www.instagram.com/ef_fffx0/" class="profile-card-social__item" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="https://github.com/EvanFung" class="profile-card-social__item" target="_blank">
              <i class="fab fa-github"></i>
            </a>
            <a href="#" class="profile-card-social__item" target="_blank">
              <i class="fab fa-weixin"></i>
            </a>
            <a href="https://www.linkedin.com/in/evan-feng-7989bb135/" class="profile-card-social__item" target="_blank">
              <i class="fab fa-linkedin"></i>
            </a>
          </div>
          <!-- social -->
        </div>
      </div>
    </div>
  </div>
  <div class="col m2"></div>
</div>
</div>
<% include ../partials/footer %>