<!--  WEN HAO FENG 301223017 -->
<% include partials/header %>
<div class="container ">
  <!-- Page Content goes here -->
  <div class="typed-container">
    <div class="center-align">
      <img class="logo" src="/images/logo2.png" alt="">
      <h2 class="name">Evan Feng</h2>
      <div class="typing-wrapper">
        <blockquote class="typing-effect">
          Java Programmer, Centennial College
        </blockquote>
      </div>
      <div id="typing-words">
        <span id="typed"></span>
    </div>
  </div>
</div>
<% include partials/footer %>