<% include ../partials/header %>
<div class="container">
  <!-- Page Content goes here -->
  <section class="intro">
    <div class="container">
      <h1>WORKING & EDUCATION EXPERIENCE</h1>
    </div>
  </section>

  <section class="timeline">
    <ul>
      <li>
        <div>
          <time>2015</time> 
          Hong Kong Institute of Vocational Education - 
          Software Engineering
          (Tuen Men Campus, Hong Kong SAR)
        </div>
      </li>
      <li>
        <div>
          <time>2016</time>
          Hong Kong Institute of Vocational Education - 
          Software Engineering
          (Tuen Men Campus, Hong Kong SAR)
        </div>
      </li>
      <li>
        <div>
          <time>2016(June - Sep)</time>
          Chubb - (Internship) - Software Engineer, Hong Kong SAR
        </div>
      </li>
      <li>
        <div>
          <time>2017</time>
          Graduated from Hong Kong Institute of Vocational Education - 
          Software Engineering
          (Tuen Men Campus, Hong Kong SAR)
        </div>
      </li>
      <li>
        <div>
          <time>2017</time>
          Cenique Information Group (InReality, LLC) - 
          Software Engineering (Full time)
        </div>
      </li>
      <li>
        <div>
          <time>2018</time>
          Hong Kong Baptist University - Bachelor of Science - BS, Computer Science
        </div>
      </li>
      <li>
        <div>
          <time>2019</time>
          Hong Kong Baptist University - Bachelor of Science - BS, Computer Science
        </div>
      </li>
      <li>
        <div>
          <time>2020</time>
          Hong Kong Baptist University - Bachelor of Science - BS, Computer Science
        </div>
      </li>
      <li>
        <div>
          <time>2020</time>
          Octopus InfoTech Limited (Full-time) -
          Software Engineer, Hong Kong SAR
        </div>
      </li>
      <li>
        <div>
          <time>2021</time>
          Hong Kong Telecom - Analyst Programmer (Full-time),
          Hong Kong SAR 
        </div>
      </li>
      <li>
        <div>
          <time>2022(Winter)</time>
          Centennial College, Canada.<br>
          Artificial Intelligence - Software Engineering Technology(Fast track)
        </div>
      </li>
      <li>
        <div>
          <time>2022(Sep-Present)</time>
          StudentResearcher<br>
          Centennial College · Internship · Toronto, ON, Canada
        </div>
      </li>
    </ul>
  </section>
</div>
<% include ../partials/footer %>