<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col s12 m12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Edit Business Contact</span>
                    <div class="row">
                        <form class="col s12"  action="/business/<%=businesscontact._id%>?_method=PUT" method="POST">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input required id="name" type="text" class="validate" name="name" value="<%=businesscontact.name%>">
                                    <label for="name">Name</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input required id="email" type="email" class="validate" name="email" value="<%=businesscontact.email%>">
                                    <label for="email">Email</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input required id="number" type="text" class="validate" name="number" value="<%=businesscontact.number%>">
                                    <label for="number">Phone</label>
                                </div>
                            </div>
                            <div class="card-action center">
                                <button id="loginBtn" class='btn btn-login' type="submit">Update</button>
                                <a href="/business" class='btn btn-login' type="reset">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>