.card-container {
    margin-top: 8.5rem;
    border-radius: 0.625rem;
    min-height: 28.125rem;
    position: relative;
    background: #fff;
    color: black;
    max-width: 700px;
    margin-left: 0.1875rem;
    margin-right: 0.1875rem;
}

.profile-card-img {
    width: 150px;
    height: 150px;
    transform: translateY(-50%);
    border-radius: 50%;
    overflow: hidden;
    z-index: 4;
    box-shadow: 0px 5px 30px 0px #a0cee9, 0px 0px 0px 7px rgba(196, 184, 248, 0.5);
    object-fit: cover;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.profile-card-name {
    font-weight: 800;
    font-size: 24px;
    color: #324e63;
    margin-bottom: 15px;
}

.profile-card-text {
    font-size: 15px;
    font-weight: 500;
    color: black;
    margin-bottom: 15px;
    display: flex;
    text-align: left;
}
.profile-card-loc__icon {
    display: inline-flex;
    font-size: 27px;
    margin-right: 10px;
  }
  .profile-card-loc {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
  }

.profile-card-cnt {
    margin-top: -45px;
    text-align: center;
    padding: 0 20px;
    padding-bottom: 40px;
    transition: all 0.3s;
}

.profile-card-social .profile-card-skills {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.profile-card-skills {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.skill-item {
    margin: 5px;
}
  .profile-card-social__item {
    display: inline-flex;
    width: 55px;
    height: 55px;
    margin: 15px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #405de6;
    box-shadow: 0px 7px 30px rgba(43, 98, 169, 0.5);
    position: relative;
    font-size: 21px;
    flex-shrink: 0;
    transition: all 0.3s;
  }

  .card-email {
      margin-left: 25px;
  }