.typed-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    text-align: center;
    z-index: 1;
}

.typing-wrapper {
    /*This part is important for centering*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.typing-effect {
    width: 38ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    border-left-color: transparent;
    font-family: monospace;
    font-size: 2em;
    color: white;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

.body-color {
    background-color: rgb(34,51,51);
}

.name {
    color:white;
}

.project-cards {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
}

.card-item {
    min-height: 19.75rem;
}

.card-description {
    min-height: 3rem;
}
.logo {
    color: transparent;
    width: 10%;
    height: 10%;
    object-fit: cover;
    text-align: center;
}